@model BasketViewModel
@{
    ViewData["Title"] = "Basket";
}

<div class="columns">
    <div class="column is-four-fifths">
        <table class="table is-fullwidth">
            @foreach (var basketItem in Model.BasketItems)
            {
            <tr>
                <td>@basketItem.Item.Name</td>
                <td>@basketItem.Item.Price</td>
                <td>@basketItem.Quantity</td>
                <td>@(basketItem.Quantity * basketItem.Item.Price)</td>
            <td>
                <form asp-action="RemoveFromBasket">
                    <button type="submit" name="id" value="@basketItem.Id">Remove</button>
                </form>
            </td>
            </tr>
            }
        </table>
    </div>
    <div class="column is-one-fifth">
        <figure class="image is-3by2">
            <img src="https://bulma.io/images/placeholders/256x256.png">
        </figure>

    </div>
</div>



