@using WebStoreDemo.Infrastucture.Extensions
@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="home-slider">
    <ul class="slides">
        @foreach (var game in Model.HeadlineGames)
        {
            <li data-bg-image="dummy/slide-1.jpg">
                <div class="container">
                    <div class="slide-content">
                        <h2 class="slide-title">@game.Name</h2>
                        <small class="slide-subtitle">£@game.Name.GenerateDecimal()</small>

                        <p>@game.Deck</p>

                        <a href="#" class="button">Read Details</a>
                    </div>
                    <img src="@game.Image.SmallUrl" class="slide-image">
                </div>
            </li>
        }
        
    </ul> <!-- .slides -->
</div> <!-- .home-slider -->
<main class="main-content">
    <div class="container">
        <div class="page">
            <section>
                <header>
                    <h2 class="section-title">New Products</h2>        
                </header>
                <div class="product-list">
                    @foreach (var game in Model.NewGames)
                    {
                        <form asp-controller="Basket" asp-action="AddToBasket" method="post" class="product">
                            <div class="inner-product">
                                <div class="figure-image">
                                    <a href="single.html"><img src="@game.Image.SmallUrl" alt="@game.Name"></a>
                                </div>
                                <h3 class="product-title"><a href="#">@game.Name</a></h3>
                                <small class="price">£@game.Name.GenerateDecimal()</small>
                                <p>@game.Deck</p>
                                <button type="submit" value="@game.Id" name="Id" class="button">Add to cart</button>
                                <a href="#" class="button muted">Read Details</a>
                            </div>
                        </form>
                        <!-- .product -->
                    }
                    
                </div> <!-- .product-list -->
            </section>
            <section>
                <header>
                    <h2 class="section-title">promotion</h2>                    
                </header>
                <div class="product-list">
                @foreach (var game in Model.Promotions)
                {
                    <form asp-controller="Basket" asp-action="AddToBasket" method="post" class="product">
                        <div class="inner-product">
                            <div class="figure-image">
                                <a href="single.html"><img src="@game.Image.SmallUrl" alt="@game.Name"></a>
                            </div>
                            <h3 class="product-title"><a href="#">@game.Name</a></h3>
                            <small class="price">£@game.Name.GenerateDecimal()</small>
                            <p>@game.Deck</p>
                            <button type="submit" value="@game.Id" name="Id" class="button">Add to cart</button>
                            <a href="#" class="button muted">Read Details</a>
                        </div>
                    </form>
                    <!-- .product -->
                }


                </div> <!-- .product-list -->
            </section>
        </div>
    </div> <!-- .container -->
</main> <!-- .main-content -->